core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.venv

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env
.env.*

# Django stuff
db.sqlite3
.env.py